{% extends "layout.html" %}

{% block title %}Well hello there {% endblock %}
{% block content %}
    <div style="background-color: aqua" align="center">
        <h1 style="font-family: Consolas;font-size: inherit">Welcome to Python !</h1>
    </div>
    <p>
        This is an exclusive collection of good python learning resources .
    </p>
    <div id="footer" xmlns:dc="http://purl.org/dc/elements/1.1/">
        <p id="copyright" property="dc:rights">&copy;
            <span property="dc:dateCopyrighted">2016</span>
            <span property="dc:publisher" >Amit Kumar</span>
        </p>
    </div>
{% endblock %}
